<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>
<body>
<h1>This is the ToDo Page</h1>
<!--<ul>-->
<!--    <li> temporary todo item A</li>-->
<!--    <li> temporary todo item B</li>-->
<!--</ul>-->
<ul>
    {% for todo_item in all_items %}
    <li>{{ todo_item.content }}
        <form action="/deleteToDo{{ToDo_item.id}}/"
              style="display: inline;"
              method="post">{% csrf_token %} <!-- security purposes-->
            <input type="submit" value="Delete"/>
        </form>
    </li>
    {% endfor %}

    <form action="/addToDo/" method="post">{% csrf_token %} <!-- security purposes-->
        <input type="text" name="content"/>
        <input type="submit" value="Add"/>
    </form>
</ul>
</body>
</html>